<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "mapper.ProductMapper">
	<cache />

	<resultMap type="pDTO" id="productIndexMap">
		<id column="prd_code" jdbcType="VARCHAR" property="prdCode" />
		<result column="prd_name" jdbcType="VARCHAR" property="prdName" />
		<result column="prd_price" jdbcType="BIGINT" property="prdPrice" />
		<result column="prd_img" jdbcType="VARCHAR" property="prdImg" />
		<result column="prd_type" jdbcType="VARCHAR" property="prdType" />
		<result column="prd_category" jdbcType="VARCHAR" property="prdCategory" />
	</resultMap>
	<select id="searchList" parameterType="string" resultMap="productIndexMap">
		SELECT *
		FROM products
		<where>
			<if test="prdCategory != 'searched'">
				prd_category = #{prdCategory}
			</if>
			<if test="prdName != '%검색어 입력%'">
				UPPER(prd_name) LIKE UPPER(#{prdName})
				<if test="prdType != '전체'">
					AND prd_type = #{prdType}
				</if>	
			</if>
		</where>
	</select>



	<select id="productIndex" parameterType="string" resultMap="productIndexMap">
		SELECT *
		FROM products
		<where>
			<if test="prdName != null">
				prd_name = #{prdName}
			</if>
		</where>
	</select>

</mapper>