<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- CommentMapper.xml -->
<mapper namespace="mapper.TrainMapper">
	<cache />
	<resultMap type="Model.TrainStatinDTO" id="baseResultMap">
		<id column="STATION_CODE" jdbcType="VARCHAR" property="stationTimeCode" />
		<result column="STATION_NAME" jdbcType="VARCHAR" property="stationName" />
	</resultMap>
	<resultMap type="Model.TrainDTO" id="coustomListMap">
		<result column="TRAIN_CODE" jdbcType="BIGINT" property="trainCode" />
		<result column="SERVICE_DATE" jdbcType="VARCHAR" property="serviceDate" />
		<result column="TRAIN_PRICE" jdbcType="BIGINT" property="trainPrice" />
		<result column="TRAIN_NAME" jdbcType="VARCHAR" property="trainName" />
		<result column="TIME" jdbcType="VARCHAR" property="time" />
		<result column="STATION_NAME" jdbcType="VARCHAR" property="stationName" />
	</resultMap>
	<select id="selectSearchStation" resultMap="baseResultMap">
		select
		STATION_NAME
		FROM
		TRAIN_STATION
	</select>
	<select id="selectCustomerTrain" resultMap="coustomListMap"
		parameterType="java.util.HashMap">

		select t.train_CODE,t.TRAIN_NAME,t.TRAIN_PRICE,substr(xmlagg(xmlelement(a,',' ||
		st.time)order by st.time ).extract('//text()'),2) time from TRAIN t
		inner join
		station_time st on t.TRAIN_CODE = st.TRAIN_CODE inner join
		train_station ts on st.STATION_CODE = ts.STATION_CODE
		where
		<choose>
			<when test="station.size != 0">
				ts.STATION_NAME in
				<foreach collection="station" item="item" index="index"
					separator="," open="(" close=")">
					#{item}
				</foreach>
			</when>
		</choose>
		
	<choose>
			<when test="trainType.size != 0">
				and t.train_name in
				<foreach collection="trainType" item="item" index="index"
					separator="," open="(" close=")">
					#{item}
				</foreach>
				and
			</when>
		</choose>
	
		<![CDATA[ 
		to_date('00:00','HH24:MI')< to_date(st.time,'HH24:MI')]]>
		and
		<choose>
			<when test="station.size != 0">
				t.train_code in (select st.train_CODE from station_time st inner
				join
				train_station ts on st.STATION_CODE = ts.STATION_CODE
				where
				ts.STATION_NAME in
				<foreach collection="station" item="item" index="index"
					separator="," open="(" close=")">
					#{item}
				</foreach>
			</when>
		</choose>
		and t.train_name = 'KTX' and<![CDATA[ 
		to_date('00:00','HH24:MI')< to_date(st.time,'HH24:MI') ]]>group
		by st.train_CODE having count(*) >1 )
		group by t.train_CODE, t.TRAIN_NAME, t.TRAIN_PRICE order by train_code ASC

	</select>
</mapper>