<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="Model.MemberDTO" alias="MemberDTO" />

		<typeAlias type="Model.ProductDTO" alias="pDTO" />
		<typeAlias type="Model.CartDTO" alias="cDTO" />
		<typeAlias type="Model.RentRegDTO" alias="rrDTO" />
		<typeAlias type="Model.EventDTO" alias="eventDTO" />

		<typeAlias type="Model.TourDTO" alias="TourDTO"/>
		<typeAlias type="Model.CommentDTO" alias="CommentDTO"/>

	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@210.123.254.122:1521:xe" />
				<property name="username" value="SMRIT" />
				<property name="password" value="oracle1" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/Mapper.xml" />
		<mapper resource="mapper/TrainMapper.xml" />

		<mapper resource="mapper/ProductMapper.xml"/>

		<mapper resource="mapper/TourMapper.xml" />

		<mapper resource="mapper/EventMapper.xml" />
	</mappers>
</configuration>