@font-face {
	font-family: 'Nanum';
	src: url('../fonts/NanumGothicExtraBold.ttf');
}

@font-face {
	font-family: 'norwester';
	src: url('../fonts/norwester.otf');
}

#sideMenu {
	width: 205px;
	height: auto;
	position: relative;
	border-right: 1px solid #acacad;
	border-left: 1px solid #acacad;
	float: left;
}

#trainTitle {
	display: table;
	width: 100%;
	height: 100px;
	font-size: 20px;
	font-weight: bold;
	backgraund-color: #1155cc;
	color: #3a3838;
	font-family: 'Nanum' !important;
}

#trainTitle p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#traingMenu {
	display: table;
	background-color: #1155cc;
	width: 100%;
	height: 50px;
	color: white;
	font-family: 'Nanum' !important;
	font-weight: bold;
	vertical-align: middle;
	font-size: 13px;
	box-shadow: 1px 3px 3px #888888;
}

#traingMenu p {
	display: table-cell;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
}

#traingMenu1 {
	display: table;
	background-color: white;
	width: 100%;
	height: 50px;
	font-family: 'Nanum' !important;
	font-size: 11px;
	vertical-align: middle;
	border-bottom: 1px solid #acacad;
}

#traingMenu1 p {
	display: table-cell;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
}

#traingMenu2 {
	display: table;
	background-color: white;
	width: 100%;
	height: 50px;
	color: #575757;
	font-family: 'Nanum' !important;
	font-weight: bold;
	font-size: 11px;
	vertical-align: middle;
	border-bottom: 1px solid #acacad;
}

#traingMenu2 p {
	display: table-cell;
	text-align: left;
	padding-left: 10px;
	vertical-align: middle;
}

#traingMenu1 a {
	text-decoration: none;
	color: #525252;
}

#traingMenu1 a:visited {
	text-decoration: none;
	color: #525252;
}

#traingMenu1 a:active {
	text-decoration: none;
	color: #525252;
}

#traingMenu1 a:hover {
	text-decoration: none;
	color: #525252;
}

#traingMenu2 a {
	text-decoration: none;
	color: #525252;
}

#traingMenu2 a:visited {
	text-decoration: none;
	color: #525252;
}

#traingMenu2 a:active {
	text-decoration: none;
	color: #525252;
}

#traingMenu2 a:hover {
	text-decoration: none;
	color: #525252;
}

#tarinInfoMain {
	width: 100%;
	position: releative;
	height: auto;
	float: right;
	left: 230px;
	top: 30px;
}

#trainName {
	width: 100%;
}

#trainName span {
	font-family: 'Nanum' !important;
	font-size: 30px;
	color: #2f2f2f;
	font-weight: bold;
}

#trainName hr {
	margin-top: 15px;
}

#trainInfoMenuTable {
	width: 100%;
	height: 650px;
	font-family: 'Nanum' !important;
	text-align: center;
}

#trainInfoMenuTable th {
	background: #f8f8f8;
}

#trainInfoMenuTableR {
	width: 100%;
	width: 100%;
	border-top: 2px solid #0097d0;
	border-bottom: 2px solid #b6b6b6;
	font-size: 12px;
}

#trainInfoMenuTableR th {
	height: 20px;
	background: #f8f8f8 url(../img/bar_th.gif) no-repeat left 50%;
}

#trainInfoMenuTableR td {
	height: 30px;
	border-bottom: 1px solid #b6b6b6;
}

#gb {
	display: table-row;
}

#hn {
	display: none;
}

#gj {
	display: none;
}

#jr {
	display: none;
}

#sudo {
	display: table-row;
}

#cc {
	display: none;
}

#gw {
	display: none;
}

#gs {
	display: none;
}

#jra {
	display: none;
}

.paging {
	position: relative;
	width: 100%;
	height: auto;
	top: 30px;
	text-align: center;
}

.pagination {
	list-style: none;
	margin: 0;
	padding: 0 5px;
}

.pagination li {
	display: inline;
	padding: 4px;
	margin-right: 3px;
	width: 40px;
	color: #000;
	font: bold 13px tahoma;
	border: 1px solid #eee;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.location {
	font-family: 'Nanum' !important;
	font-size: 13px;
	font-weight: bold;
	color: #525252;
}

.location a {
	text-decoration: none;
	color: #525252;
}

.location a:visited {
	text-decoration: none;
	color: #525252;
}

.location a:active {
	text-decoration: none;
	color: #525252;
}

.location a:hover {
	text-decoration: none;
	color: #525252;
}

.trainTicket {
	font-family: 'Nanum' !important;
	position: relative;
	top: 80px;
	width: 800px;
	height: 500px;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 6.5px;
	padding: 10px;
	border-color: #0180a3;
	border-top-width: 6px;
	margin-bottom: 30px;
}

.trainStep {
	position: relative;
	font-family: 'Nanum' !important;
	top: 15px;
	float: right;
}

.trainStep div {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	width: 100px;
	border-left-style: solid;
	height: 25px;
	background-color: #1a2440;
	float: left;
	padding-top: 3px;
	border-radius: 5px;
}

hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png)
		repeat-x 0 0;
	border: 0;
	margin-bottom: 30px;
}

.trainWay {
	margin-top: 20px;
	margin-bottom: 15px;
}

.oneWay {
	margin-top: 5px;
	margin-left: 20px;
}

.inputtext {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 250px;
	height: 40px;
	border: #b3b3b3 1px solid;
	padding: 0;
	margin: 0;
}

.inputtext input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	top: 5px;
	left: 3px;
	width: 210px;
	height: 25px;
}

.inputtext__indicator {
	position: absolute;
	top: 10px;
	font-size: 15px;
	font-weight: bold;
	left: 5px;
	color: #333537d6;
}

.inputtext input:focus {
	z-index: 1;
	opacity: 100;
}

.control {
	font-size: 18px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-left: 30px;
	padding-left: 30px;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator, .control input:focus ~
	.control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not ([disabled] ):checked ~ .control__indicator,
	.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
	margin-bottom: 30px;
	margin-top: 30px;
}

.pinmark {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 3px;
	top: 10px;
}

.num dl {
	margin-left: 30px;
	font-family: 'Nanum' !important;
}

.num dt {
	margin-bottom: 10px
}

.num dd {
	margin: 0;
}

.adults {
	width: 250px;
	display: inline-block;
}

.child {
	width: 250px;
	display: inline-block;
}

.old {
	width: 250px;
	display: inline-block;
}

.pm {
	width: 50px;
	height: 53px;
	vertical-align: middle;
	text-align: center;
	color: #848e91;
	font-size: 40px;
	background-color: #dcdfe5;
	border: #848e91 1px solid;
}

.inputpm {
	font-weight: bold;
	width: 55px;
	height: 50px;
	text-align: center;
}

.trainSearch {
	width: 65px;
	height: 35px;
	background-color: #0180a3;
	color: white;
	border: none;
}

.tbg {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: #0000008a;
	display: none;
}

.tbgw {
	width: 60%;
	height: 80%;
	position: fixed;
	background: white;
	z-index: 11;
	top: 10%;
	left: 20%;
	display: none;
	border-radius: 15px;
}

.tbgt {
	width: 250px;
	height: 300px;
	position: absolute;
	background: white;
	z-index: 11;
	
	right: 110px;
	display: none;
	border-radius: 15px;
	box-shadow: #00000085 1px 6px 10px;
}

#trainList1 {
	min-height: 50px;
	max-height: 150px;
	width: 252px;
	top: 40px;
	position: absolute;
	background-color: white;
	z-index: 9;
	box-shadow: 0px 3px 8px #888888;
	overflow-x: hidden;
	overflow-y: auto;
}

#trainList2 {
	min-height: 50px;
	max-height: 150px;
	width: 252px;
	top: 40px;
	position: absolute;
	background-color: white;
	z-index: 9;
	box-shadow: 0px 3px 8px #888888;
	overflow-x: hidden;
	overflow-y: auto;
}

.trainList ul {
	list-style: none;
	margin: 0;
	padding: 10px;
}

.trainList li {
	height: 30px;
	cursor: pointer;
}

.stbg {
	width: 98%;
	position: absolute;
	height: 98%;
	padding: 10px;
	display: none;
}

.edbg {
	width: 98%;
	position: absolute;
	height: 98%;
	padding: 10px;
	display: none;
}

.datebg {
	width: 98%;
	position: absolute;
	height: 98%;
	padding: 10px;
	display: none;
}

.stbg_1 {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #eeeef5cc;
	border-radius: 15px;
}

.stbg_1 ul {
	list-style: none;
	margin: 0;
	padding-top: 10px;
}

.stbg_1 li {
	display: inline;
	font-size: 15px;
	margin: 0px 16px;
	font-family: 'GoodFont' !important;
	cursor: pointer;
}

#trainList3 {
	width: 100%;
	height: 430px;
	overflow-x: hidden;
	overflow-y: auto;
}

#trainList3 ul {
	list-style: none;
	margin: 0;
	padding-top: 10px;
}

#trainList3 li {
	display: inline-block;
	font-size: 15px;
	min-width: 200px;
	margin: 5px 15px;
	font-family: 'GoodFont' !important;
	height: 35px;
	cursor: pointer;
}

#trainList4 {
	width: 100%;
	height: 430px;
	overflow-x: hidden;
	overflow-y: auto;
}

#trainList4 ul {
	list-style: none;
	margin: 0;
	padding-top: 10px;
}

#trainList4 li {
	display: inline-block;
	font-size: 15px;
	min-width: 200px;
	margin: 5px 15px;
	font-family: 'GoodFont' !important;
	height: 35px;
	cursor: pointer;
}

.ListTable {
	width: 80%;
	margin: auto;
	text-align: center;
	border-spacing: 0;
}

.ListTable thead {
	background-color: #dcebf1;
}

.ListTable>thead>tr {
	height: 50px;
}

.ListTable>tbody>tr {
	height: 60px;
}

.ListTable>tbody>tr>td {
	border-bottom: #00000040 1px solid;
}

.ticketing {
	width: 50px;
	height: 23px;
	margin: auto;
	padding-top: 0px;
	background-color: #d86f6f;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}

.inquire {
	width: 50px;
	height: 23px;
	margin: auto;
	padding-top: 0px;
	background-color: #223661d1;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}

.hover:hover {
	
}